langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
pymupdf
python-dotenv
python-docs
docx2txt
unstructured[docx]
pandas
openpyxl
unstructured[pandas]
msoffcrypto-tool