langchain
langchain-core
langchain-groq
#langchain-chains
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
pymupdf
python-dotenv
python-docs
docx2txt
unstructured[docx]
pandas
openpyxl
unstructured[pandas]
msoffcrypto-tool
jq
matplotlib
#Embedding
langchain_huggingface
sentence-transformers
langchain_groq
langchain_experimental